# STM32CubeIDE build output
/Debug/
/Release/
**/Debug/
**/Release/
CM4/Debug/
CM4/Release/
CM7/Debug/
CM7/Release/
*.claude

# Eclipse workspace metadata (NON i metadati di progetto)
.metadata/

# IDE user-specific (ok ignorarli)
*.launch
*.user

# Altri toolchain
*.uvproj*
*.eww

# Misc
Thumbs.db
.DS_Store

# Python
__pycache__/
*.pyc
*~
