# IDE and workspace files
*.launch
*.user
*.uvproj*
*.eww
.settings/

# STM32CubeIDE / Eclipse
*.metadata/
*.plugins/
*.settings/

# Misc
Thumbs.db
.DS_Store

# Python environment
__pycache__/
*.pyc
*~
